.modal
  width: 250px
  height: 60px
  padding: 5px
  position: absolute
  bottom: -80px
  right: -150px
  border: 2px solid #50E2D1
  background-color: white
  .dialogBtn
    display: block
    background: #E8FADC
    margin-top: 5px
    border: 1px solid #50E2D1
    border-radius: 5px
    padding: 0px
    float: right